/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&family=Special+Elite&display=swap');

/* Wildcard selector - applies to all.  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    /*font-family: 'Source Serif 4', 'Courier New', Courier, monospace;*/
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

/*header */
header {
    background-color: #ffffff;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

/* links inside the header*/
header a {
    text-align: center;
    display: inline-flex;
    color: inherit;
    align-items: center;
    letter-spacing: 1.5px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#headlogo {
    height: 5%;
    margin: 0 0.5rem;
}


/* ensuring the navigation is responsive */
.navposition {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    z-index: 99;

    left: 0;
    width: 100%;
    padding: 0.5em 1rem;

    background-color: #ffffff;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}


/* lefthand side of navigation and right hand side*/
.navleft {
    display: flex;
    justify-content: flex-start;
}

.navright {
    margin: auto;
    margin-right: 0;
    padding: 0 2%;
    display: flex;
    justify-content: flex-end;
}

/* navigation button stylings */
.navigation-l {
    text-decoration: none;
    border-radius: 10px / 30px;
    border: 1px solid transparent;
    padding: 1%;
}

.navigation-l:hover {
    background-color: rgba(100, 148, 237, 0.175);
    color: white;
    border-style: double;
    border-color: white;
    border-width: 1px;
}

.navigation-r {
    border-radius: 10px / 30px;
    border-style: double;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background-color: black;
}

.navigation-r:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: wavy underline red;
    transform: scale(1.2);
}



/* to show which page you're on in the nav bar*/
.active {
    color: rgb(82, 177, 155);
}

/*main */
main {
    background: rgb(82, 177, 155);
    flex: 1 0 auto;
    /* make main take up as surplus space in body to push footer down. */
}

/*footer */
footer {
    background: lightcoral;
    display: flex;
    align-items: center;
    padding: 1rem;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    order: 4;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* Newsletter sign up*/

#newslettersignup {
    display: none;
    order: 1;
}

/* Style the input elements and the submit button */
input[type=text],
input[type=submit] {
    padding: 12px;
    border: none;
    font: inherit;
    margin: auto;
}

/* Style the submit button */
input[type=submit] {
    background-color: #000000;
    color: white;
}

input[type=submit]:hover {
    opacity: 0.6;
    /*cursor: <i class="fa-regular fa-paper-plane"></i>;*/
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* nav changes to all be on the same line */
    header {
        background-color: #ffffff;
        padding: 1rem;
        position: fixed;
        z-index: 99;
        box-shadow: 0 2px 2px #3a3a3a;
        width: 100%;
        display: inline-flex;
    }

    header a {
        text-align: center;
        display: inline-flex;
        align-items: center;
        letter-spacing: 1.5px;
    }

    .navposition {
        position: relative;
        display: flex;
        z-index: 98;
        width: 100%;
        padding: 0.5em 1rem;
        background-color: #ffffff;
        box-shadow: none;

    }

    /* footer changes so email sign up shows on left, social media on right */
    #emailicon {
        display: none;
    }

    #social-networks {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 28%;
        right: 0;
        margin: auto;
        margin-right: 0;
        flex-grow: 1;
    }

    #social-networks:hover {
        opacity: 0.6;

    }

    #newslettersignup {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        width: 30%;
        left: 0;
        margin: auto;
        margin-left: 1em;
    }






}

/* Main content */
main {
    /* Push main content down to accommodate larger header */
    margin-top: 79px;
}
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {}




/*notes

sign up ref: https: //www.w3schools.com/howto/howto_css_newsletter.asp


*/