/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&family=Special+Elite&display=swap');

/* Wildcard selector - applies to all.  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    /*font-family: 'Source Serif 4', 'Courier New', Courier, monospace;*/
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

/*header */
header {
    background-color: #ffffff;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

/* links inside the header*/
header a {
    text-align: center;
    display: inline-flex;
    color: inherit;
    align-items: center;
    letter-spacing: 1.5px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;

}

/* ensuring the navigation is responsive */
.navposition {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* lefthand side of navigation and right hand side*/
.navleft {
    display: flex;
    justify-content: flex-start;
}

.navright {
    margin: auto;
    margin-right: 0;
    padding: 0 2%;
}

/* navigation button stylings */
.navigation-l {
    text-decoration: none;
    border-radius: 10px / 30px;
    border: 1px solid transparent;
    padding: 1%;
}

.navigation-l:hover {
    background-color: rgba(100, 148, 237, 0.175);
    color: white;
    border-style: double;
    border-color: white;
    border-width: 1px;
}

.navigation-r {
    border-radius: 10px / 30px;
    border-style: double;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background-color: black;
}

.navigation-r:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: wavy underline red;
    transform: scale(1.2);
}

/*main */
main {
    background: rgb(82, 177, 155);
    flex: 1 0 auto;
    /* make main take up as surplus space in body to push footer down. */
}

/*footer */
footer {
    background: lightcoral
}